<div ng-controller="blogsController as BC" ng-init='BC.loadTimeline()'>
  


  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="navbarBackgroundLeft" ng-click='BC.leftNavClose()'>
  
</div>
<div class="leftSideNavbar" id='leftSideNavbar'>
  <div class="sideNavLogo">
    <h1 style='font-family: retroFont; color:#7A69EC;'>TECHNICK</h1>
  </div>
  
  <ul class='mobileNavlist'>
    <a href="/#/"><li>Home</li></a>
    <a href="/#/archive"><li>Blog</li></a>
    <a href="/#/about"><li>About</li></a>
    <a href="/#/portfolio"><li>Portfolio</li></a>

  </ul>
</div>
<div id="navbarBackgroundRight" ng-click='BC.rightNavClose()'>
  
</div>
<div class="rightSideNavbar" id='rightSideNavbar'>
  <div class="rightNavTitle">
    <h5>
      <i class="material-icons nav_icon">trending_up</i>
    </h5>
    <h6>Recent News</h6>
  </div>
  <div class="newsWrapper">
    <div class='navNewsItem' ng-repeat='news_piece in BC.news | limitTo: 6' style="background: url('{{news_piece.img_url}}') no-repeat center center;">
      <a href="{{news.article_url}}" style='text-decoration:none'><div class="textholder">
        <div class='textholderCount'><span class='textHolderSpan'><h6 style='display:inline;'>{{$index+1}}</h6><h6 style='display:inline;'><b>{{news_piece.src_name}}</b></h6></span><span class='textHolderSpan'></span></div>
        <span class='timeSinceRepost'><h6>{{news_piece.created_at | timeAgo }}</h6></span>
        <h6>{{news_piece.title | characters: 50}}</h6>
      </div>
      </a>
    </div>
  </div>
</div>
<div id="background">  
  <div style="background:transparent">
    <div class="row" style="background:url('../images/stars.jpg') no-repeat ;background-size: cover">
      <div class="twelve column" style='background:RGBA(8, 6, 7, .4);'>
        <div class="container">
          <div id='headingWrapper'> 
            
            <div id="logo">
              <h2 style='font-family: retroFont; color:white;text-shadow:1px 1px 4px black; margin:0px '>TECHNICK</h2>
            </div>
            <div id="clock">
              <h5 style='color:white; margin:0px'>{{BC.clock | date: 'h:mm a'}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div set-class-when-at-top="fix-to-top" id="navcontainer">
    <div class="row">
      <div class="twelve column" id="navcolumn">
        <div class="container" id='mobileWrapper'>  
          <div id="listexpand">
            <i class="material-icons nav_icon" ng-click='BC.leftNavExpand()'>dehaze</i>
          </div>
          <div id='mobileNavLogo'>
            <h5 style='font-family: retroFont; color:white;'>TECHNICK</h5>
          </div>
          <div id='newsNavExpand'>
            <i class="material-icons nav_icon" ng-click='BC.rightNavExpand()' style='font-size:2.5em !important'>trending_up</i>
          </div>
        </div>
        <div class="container" style='background:transparent'>
        <ul class="navbar-list" id="navbar-list">
          <li class="nav-element"><a href="/#/" class='navbar-item'>Home</a></li>
          <li class="nav-element"><a href="/#/archive" class='navbar-item'>Blog</a></li>
          <li class="nav-element"><a href="/#/about" class='navbar-item'>About</a></li>
          <li class="nav-element"><a href="/#/portfolio" class='navbar-item'>Portfolio</a></li>
        </ul>
      </div>
      </div>
    </div>
  </div>
  <div class="container" id='blogContainer'>
    <div class="row">
      <div class="eight columns blogWrapper" style='vertical-align:top;margin-left:0px !important'>
         <!-- Twitter Share -->
        <a href="{{SBC.twitterURI}}"><div class="twitter share"><img src="../images/share/twitter.png" alt=""></div></a>
        <!-- Facebook Share -->
        <a  facebook-feed-share data-url="afternoon-hollows-7443.herokuapp.com/#/blogs/{{SBC.current_post.rest_route}}", data-name="{{SBC.current_post.title}}", data-picture="{{SBC.current_post.img_url}}", data-description="{{SBC.current_post.created_at | date}}"></a>
        <!-- Linkedin Share -->
        <a href="http://www.linkedin.com/shareArticle?mini=true&url=afternoon-hollows-7443.herokuapp.com/blogs/{{SBC.current_post.rest_route}}&title={{SBC.current_post.title}}&image-url={{SBC.current_post.img_url}}&source=technick.io"><div class="linkdin share"><img src="../images/share/Linkedin.png" alt=""></div></a>
        <!-- Email Share -->
        <a href="mailto:?subject=Technick: {{SBC.current_post.title}}&amp;body=Check out this blog http://technick.io/#/blogs/{{SBC.current_post.rest_route}}"><div class="email share"><img src="../images/share/email.png" alt=""></div></a>
        <div ng-show="SBC.current_post " class='blogpost'>
          <h6 class='post_date'>{{SBC.current_post.updated_at | date}}</h6>
          <h2 class='post_title'>{{SBC.current_post.title}}</h2>
          <img class='post_img' src="{{SBC.current_post.img_url}}" alt="content">
          <p class='post_content'ng-bind-html="SBC.current_post.content | blogFormat" ></p>
        </div>
      </div>
      <div id="current_tweet">
        <div>
          <a class="twitter-timeline" href="https://twitter.com/nickmccrory" data-chrome=" nofooter noheader transparent noborders"data-widget-id="675354364119293953" data-tweet-limit="1">Tweets by @nickmccrory</a>
        </div>     
      </div>
      <div class="four columns" style=' margin-left:0px !important; '>
        <h1>Recent</h1>
        <div class='recent_wrapper'>
          <div class="recent_titles">
            <div ng-repeat='post in BC.posts | limitTo: 10' class='recent_article'>
             <a href='/#/blogs/{{post.rest_route}}'><h6>{{post.title}}</h6></a>           
            </div>
          </div>
          
        </div>
        <div id="twitter_wrapper">
          <h1>Twitter</h1>
          <div id="twitter-wjs">
            <a class="twitter-timeline" href="https://twitter.com/nickmccrory" data-chrome='noheader noscrollbar nofooter noborders'  data-widget-id="664572922380484609">Tweets by @nickmccrory</a>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
</div>

<footer>
  <hr>
  <div class="container">
    
    <div class="row">
      <div class="twelve column">
        <span><h4>Connect</h4></span>
        <span style='display:block; margin: 1vh 0px'><a href="https://twitter.com/nickmccrory" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="true">Follow @nickmccrory</a>
          <!-- Place this tag where you want the button to render. -->
        <!-- Place this tag where you want the button to render. -->
      </span><a class="github-button" href="https://github.com/nmccrory" data-style="mega" aria-label="Follow @nmccrory on GitHub">Github @nmccrory</a>
      
      <p style='margin: 2vh 0px'>2016 technick</p>
      </div>
    </div>
  </div>
</footer>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <footer>
  <section>
    <p>Built by Nick McCrory with Skeleton CSS and AngularJS</p>
    <p><a href="http://getskeleton.com">Get Skeleton</a></p>
  </section>
</footer>
 -->